<div class="navbar-container">
    <nav class="navbar" id="navbar">
        <div class="navbar-left">
            <ul class="navbar__list">
                <li class="navbar__list-item">
                    <img class="navbar__list-img" src="/resources/assets/miata.jpeg" alt="JDYata logo">
                </li>
                <li class="navbar__list-item">
                    Home
                </li>
                <li class="navbar__list-item">
                    About
                </li>
            </ul>
        </div>

<!--        <div class="navbar-center">-->
<!--            <ul class="navbar__list">-->
<!--                <li class="navbar__list-item">-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->

        <div class="navbar-right">
            <ul class="navbar__list">
                <li class="navbar__list-item">
                    Knowledge
                </li>
                <li class="navbar__list-item">
                    Content
                </li>
            </ul>
        </div>
    </nav>
</div>